body {
	background-image: url('Fotos/fundo.png');
	background-repeat: repeat;
	background-attachment: scroll;
	background-color: #d2d2c1
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#principal {
	width:900px; 
}

#cabecalho {
	background-color: #c5c5b2;
	padding: 18px;
	
}

a {
	color:#4b566a;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
}

#conteudo {
	background-color: #e8e8d9;
	padding: 10px;
}

h1 {
	color: #828271;
	font-size: 1.2em;
}

.img-campanha {
	border: 10px solid #c3c3ae;
	width: 640px;
	height: 425px;
}

.central {
	text-align: center;
}
#cnt {
	margin: 10px 0px 0px 0px
}
