/*Navegação Horizontal*/

ul {
    /* border: 1px solid red;  */
    margin: 0;
    padding: 0;
    list-style: none;
    width: 720px;
    background: #159cb0 url(pictures/fundo-horizontal.png) repeat-x;
    float: left;
}

ul li {
    /*  border: 1px solid blue; */
    float: left;
}

ul a{
    background: url(pictures/divisor.png) repeat-y;
    display: block;
    padding: 0 2em;
    line-height: 2em;
    text-decoration: none;
    color: #ffffff;
}
ul .primeiro a {
    background: none;
}
ul a:hover {
    color: #085662;
    background: #44cade;
}
#home #navegacao .home,
#sobre #navegacao .sobre,
#servicos #navegacao .servicos,
#noticias #navegacao .noticias,
#contato #navegacao .contato {
    color: #085662;
    background: #44cade;  
}