body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

h2 {
    text-align: center;
    font-size: 35px;
}

.tabela {
    border: 3px solid black;
    width: 600px;
    border-collapse: separate;
    margin: auto;
}

.tabela th,td {
    padding: 7px;
}

.tabela th {
    font-size: 18px !important;
    text-transform: uppercase;
    border-bottom: 2px solid #111;
    text-align: left;
    font-size: 88%;
    letter-spacing: 0.1em;
}

.tabela tr:hover {
    background-color: #b6dfdf;
}

#dinheiro {
    text-align: right ;
}

