/*Estrutura do site*/

* { /*Limpando o espaçamento do html*/
    margin: 0;
    padding: 0;
}

body {  /*Formatando a fonte e Aplicando background cacbeçalho*/
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #fff url(../pictures/fundo.png) repeat-x;
}

#principal { /*Formatando tamanho do conteúdo*/
    width: 750px;
    margin: 0 auto;
}

#topo { /*Formatando cabeçalho*/
    height: 150px;
    background: url(../pictures/detalhe-topo.png)no-repeat right top;
    padding-top: 20px;
}

.logo { /*Formatando a logo*/
    width: 152px;
    height: 66px;
    background: url(../pictures/logo.png) no-repeat center;
}

ul { /*Formatando todas as listas*/
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*Início da formatação da lista de navegação e os links*/
#topo ul { 
    background: #b10333;
    margin-top: 30px;
    float: left;
    border-radius: 15px;
}

#topo ul li {
    float: left;
}

#topo ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.8em 1.3em;
    line-height: 1em;
    text-decoration: none;
    color: #fff;
    background: url(../pictures/divisor.png) no-repeat left;
}

#topo ul .primeiro a {
    background: none;
}

#topo ul a:hover {
    color: #69100d;
    ;
}

body.home #nav a#home,
body.brasil #nav a#brasil,
body.inter #nav a#inter,
body.esconomia #nav a#economia,
body.saude #nav a#saude,
body.ciencia #nav a#ciencia,
body.fotos #nav a#fotos {
    color: #fff;
    background: #de003e;
    cursor: text;
    border-radius: 15px;
    
}

/*Fim da formatação da lista de navegação e os links*/

/*Inicio configuração do Layout 3 colunas*/

#conteudo {
    margin-top:70px;
    background: #f5f5f5;
}

#lateral { /*Conteúdo lateral*/
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}

#tres-colunas #primario { /*Conteúdo Principal */
    width: 270px;
    margin: 0 0 20px 195px ;
    float: left;
}

#secundario { /*Contéudo auxiliar */
    width: 270px;
    margin: 0 0 20px 15px;
    float: left;
}

/*Fim configuração do Layout 3 colunas*/


/*Inicio configuração do Layout 2 colunas*/

#duas-colunas #primario { /*Conteúdo Principal */
    width: 555px;
    margin: 0 0 20px 195px ;
    float: left;
}



/*Fim configuração do Layout 2 colunas*/

/*Inicio configuração do Layout 1 coluna*/

#uma-colunas #primario { /*Conteúdo Principal */
    width: 750px;
    margin-bottom: 20px;
    float: left;
}



/*Fim configuração do Layout 1 coluna*/

/*Inicio formatação Caixa*/
.caixa {
    margin: 10px 0px;
    padding: 5px;
    background: #f3f3f3 url(../pictures/fundo-caixa.png);
}

h2 {
    font-size: 1.1em;
    background: #294c71;
    color: #fff;
    padding: 3px;

}
.caixa h2 {
    text-align: center;
}

.caixa-conteudo {
    background: #ffffff;
    margin-top: 5px;
    padding: 5px;
}
/*Fim formatação Caixa*/

/*Inicio formatação menu lateral */

#lateral ul a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover {
    background: #f9f9f9 url(../pictures/marcador.png) no-repeat left center;
    padding-left: 25px;
    color: #a1a1a1;
}

label {
    display: block;
    cursor: pointer;
}

input {
    margin-top: 5px;
    padding: 3px;
    width: 150px;
    font-size: 0.9em;
    background-color: #ffffff;
    border-radius: 15px;
}
:placeholder-shown {
    text-align: center;
}

input.submit {
    margin: 5px auto;
    width: 80px;
    color: #ffffff;
    background-color: #b10333;
    border: 2px solid #870529;
    display: block;
    

}

/*Fim formatação menu lateral */

.fotos-lista-noticias {
    width: 80px;
}


.destaque img {
    border: 3px solid ;
    border-color: #b10333;
    width: 98%;
}

.entrevista img {
    border: 3px solid;
    border-color: #de003e;
    width: 98%;
}

h3 {
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

.destaque h3 {
    background: #b10333;
    color: #fff;
}

.entrevista h3 {
    background: #de003e;
    color: #fff;
}

.destaque a {
    color: #b10333;
}

#lista-noticias li {
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 65px;
}

#lista-noticias li a {
    text-decoration: none;
}
#lista-noticias li:hover {
    background-color: #eee;
    cursor: pointer;
}

#lista-noticias li a h3{
    font-size: 0.9em;
    padding: 0;
    color: #3e7ab9;
}

#lista-noticias li a p {
    font-size: 0.8em;
}

#lista-noticias li a img{
    float: left;
    margin: 5px;    
}



/*Inicio configuração do Rodapé*/
#rodape {
    width: 750px;
    margin: 0 auto;
    color: #fff;
}

#container-rodape {
    background: #294c71;
    padding: 20px;
    text-align: center;
}
/*Fim configuração do Rodapé*/