/*Barra de Navegação vertical*/

ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul a {
    line-height: 40px;
    text-indent: 40px;
    text-decoration: none;
    display: block;
    width: 200px;
    height: 40px;
    color: #000;
    background: #F7B600 url(pictures/menu.png) no-repeat left bottom;
}

a:hover {
    background-position: right bottom;
    background-color:#f99200;
    color: #fff;
}

#home #navegacao .home a,
#sobre #navegacao .sobre a,
#servicos #navegacao .servicos a,
#noticias #navegacao .noticias a,
#contato #navegacao .contato a {
    background-position: right bottom;
    background-color:#f99200;
    color: #fff;
}


