#caixa {
    width: 300px;
    height: 300px;
    background-color: #b9c941;
    padding: 50px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*border-radius: 10px 50px 80px 100px;
    -webkit-border-radius: 10px 50px 80px 100px;
    -moz-border-radius: 10px 50px 80px 100px;*/
}

#caixa2 {
    width: 300px;
    height: 300px;
    background-color: #b9c941;
    /*padding: 10px;
    margin: 10px;*/
    /*border-radius: 10px 50px 80px 100px;
    -webkit-border-radius: 10px 50px 80px 100px;
    -moz-border-radius: 10px 50px 80px 100px;*/
}

#foto {
    width: 300px;
    height: 300px;
}

.arredondamento {
    border-radius: 150px;
}