body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #f2f2f2;
}

#container {
    width: 85%;/*900px*/
    margin: 0 auto;
    background: #ffffff;
    min-width: 900px;
    /*max-width: 1000px;*/

}

#logo {
    width: 100%;
    height: 350px;
    background: rgb(126, 123, 123) url(/CSS_3-Intermediario_Avancado/aula_60/pictures/cabecalho.jpg) no-repeat center;
    
    line-height: 350px;
}

#conteudo {
 
    float: right;
    width: 82%; /*730px -> 83*/
}

#navegacao {
    float: left;
    width: 16%; /*150px -> 17%*/
    padding-top: 10px;
    padding-bottom: 10px;
    background:rgb(236, 232, 232);
}

.posts {
    width: 75%; /*550px -> 76%*/
    float: left;
    border: 1px solid red;
}

img.img-noticia {
    width: 94%;
    padding: 2%;
    border: 1px solid red;
}

.posts-secundarios {
    width: 22%; /*160px -> 22%*/
    float: right;
    background: rgb(236, 232, 232);
    border: 1px solid red;
    
}

.posts h2 {
    text-align: center;

}
.posts p {
    text-align: justify;
    margin: 10px;
}



.posts-secundarios h3 {
    text-align: center;
}

.posts-secundarios ul {
    list-style: none;
}

.posts-secundarios li a {
    text-decoration: none;
}

.posts-secundarios p {
    text-align: justify;
    padding: 5px;
    margin: 5px;
}

#rodape {
    clear: both;
    background: rgb(190, 190, 190);
    padding: 5px;
}

#navegacao ul {
    list-style: none;
}

#navegacao li a {
    text-decoration: none;
}
/*
 #imagem {
     width: 90%;
     border: 1px solid red;
     overflow: hidden;
 }
 */

