/* Navegação com Abas */


body {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    width: 720px;
    list-style: none;
}

ul li {
    /* border: 1px solid red;*/
    float: left;
    background: url(pictures/aba-direita.png) no-repeat top right;
}

li a {
    display: block;
    padding: 0 2em;
    line-height: 3em;
    text-decoration: none;
    background: url(pictures/aba-esquerda.png) no-repeat;
    color: #fff;
}

ul a:hover {
    color: #894a1f;
}

ul #atual {
    background: url(pictures/aba-direita-atual.png) no-repeat top right;
}

ul #atual a {
    background: url(pictures/aba-esquerda-atual.png) no-repeat top left;
}